<div class="client-section-two-container">

  <div class="col client-section-left-large">

    {% for block in entry.clientSection2 %}
      {% if block.type == "clientImageLarge" %}

        {% set image = block.image.first() %}
          {% if image %}
            <img class="client-section-image-large" src="{{ image.url }}" alt=""/>
          {% endif %}

          <div class="caption-wrapper">
            <p class="client-caption">{{ block.caption }}</p>
            <p class="client-subcaption">{{ block.subcaption }}</p>
          </div>

      {% endif %}
    {% endfor %}

  </div>

  <div class="col client-section-right-group">

    <ul class="client-links-wrapper client-links-wrapper-section-two">
      {% for block in entry.clientSection2 %}
        {% if block.type == "clientLinks" %}
            <li class="client-link">{{ block.clientLink }}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="client-image-small-right">
      {% for block in entry.clientSection2 %}
        {% if block.type == "clientImageSmall" %}

          {% set image = block.image.first() %}
            {% if image %}
              <img class="image-small" src="{{ image.url }}" alt=""/>
            {% endif %}

            <div class="caption-wrapper">
              <p class="client-caption">{{ block.caption }}</p>
              <p class="client-subcaption">{{ block.subcaption }}</p>
            </div>

          {% endif %}
        {% endfor %}
      </div>

  </div>

</div>
