body {
  background-color: #FFF;
  font-family: 'Bebas Neue';
}

h1{
  // color: #fff;
  font-size: 120px;
  width: 42%;
  margin-left: 9rem;
}

.footer{
  margin-top: 8rem;
  margin-left: 20rem;
  font-size: x-large;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  .address, .contact, .email, .phone{
    padding-right: 5rem;
  }

  .contact, .email, .instagram{
    text-decoration: underline;
    color: black;
    display: block;
    margin-top: 1.5rem;
  }
}
