body {
  background-color: #FFF;
  font-family: 'Bebas Neue';
}

.splash-container {
  width: 100%;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.see-more {
  font-family: 'GTWalsheimProLight';
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #231f20;
  position: absolute;
  top: 59rem;
  left: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  padding: 15px;
  text-align: center;

  p {
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 2px;
  }
}


.grid{
  margin-left: 8rem;
  padding: 0 4px;

  .client-section-one-container {
    margin-top: 63rem;
    max-width: 81%;
    padding: 0 150px;
  }

  ul.client-links-wrapper {
    font-size: 3rem;
    text-align: left;
    margin: 7rem 0 0 0;
    padding: 0;

    .client-link {
      width: 50%;
      padding-bottom: 18px;
      list-style-type: none;
    }
  }

  .client-section-item{
    height: 25rem;
    margin-top: 7rem;

    .client-image {
      width: 70%;
    }

  }
  .caption-wrapper {
    text-align: left;

    .client-caption {
      font-size: 20px;
      padding-top: 6px;
      margin: 0;
    }
    .client-subcaption {
      font-family: 'GTWalsheimProLight';
      margin: 0;
    }
  }

  .client-section-two-container{
    padding: 0 150px;
  }
  .client-section-left-large{
    width: 53%;
    margin-top: 5rem;

    .client-section-image-large {
      width: 103%;
      margin-top: 5rem;
    }
  }

  .client-section-right-group{
    width: 43%;
    margin-top: 3rem;

    .client-links-wrapper-section-two{
      margin-left: 11rem;
      width: 100%;
    }

    .client-image-small-right{
      margin-left: 11rem;
      width: 97%;
        .image-small{
          width: 52%;
          margin-top: 4rem;
        }
    }
  }

  .client-links-wrapper-section-three{
    margin: 0 !important;
  }

  .client-section-three-container{
    max-width: 81%;
    padding: 0 150px;
  }

}

.footer{
  margin-top: 8rem;
  margin-left: 20rem;
  font-size: x-large;
  letter-spacing: 1px;
  display: -webkit-inline-box;
  .address, .contact, .email, .phone{
    padding-right: 5rem;
  }

  .contact, .email, .instagram{
    text-decoration: underline;
    color: black;
    display: block;
    margin-top: 1.5rem;
  }
}
