body {
  background-color: #FFF;
  font-family: 'Bebas Neue';
}

.splash-container {
  width: 100%;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}


.client-section {
  position: absolute;
  top: 60rem;
  width: 100%;
  left: 5rem;

  .client-set-container {
    padding: 50px;
  }
}

.client-image {
  width: 400px;
  max-height: 420px;
}

.caption-wrapper {
  text-align: left;
}

.client-links-wrapper {
    font-size: 44.5px;
    text-align: left;
    width: 100%;
    margin-top: 12px;

    .client-link {
      width: 50%;
      padding-left: 50px;
      margin: 34px;
    }
}

.see-more {
  font-family: 'GTWalsheimProLight';
  font-size: 16px;
  letter-spacing: 0.1px;
  color: #231f20;
  position: absolute;
  top: 55rem;
  left: 0;
  right: 0;
  background-color: white;
  width: 100vw;
  padding: 15px;
  text-align: center;

  p {
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 2px;
  }
}
