.header-svg{
  margin-left: 3rem;
}

.hero-module-container {
  width: 100%;
  .header-text-container{
    margin-left: 3rem;
  }
  .header{
    font-size: 84px;
    padding: 0;
    margin: 0;
  }
  .description{
    font-family: 'GTWalsheimProLight';
  }
  .see-more-nav{
    color: $color-dark-grey;
    margin-bottom: 3rem;
  }
  .hero-image{
    width: 100%;
  }
}

.view-more-overlay{

  z-index:list-get($z-index, 'mini-cart');
  background-color: rgba(#000, 0.6);

  body.view-more-open & {
    display: block;
  }

}

.view-more{
  font-family: 'GTWalsheimProLight';
  color: $color-white;


  @include transform(translateX(101%));

  position: fixed;
  top: 80px;
  bottom: 0;
  right: 0;
  z-index: list-get($z-index, 'mini-cart');
  width: 50%;
  padding: 0 40px;

  background-color: $color-black;

  @include transition();

    .description{
      margin-top: 4rem;
      margin-left: 2rem;
      width: 50%;
      font-size: large;
    }
    .services{
      font-size: x-large;
      margin-left: 2rem;
      margin-top: 3rem;
    }
    .services-list{
      list-style-type: none;
    }
    .client-site-link{
      margin-left: 2rem;
      margin-top: 6rem;
    }
}

.view-more-open {
    @include transform(translateX(0));
  }

.large-asset-container{
  .large-image{
    max-width:90%;
    padding: 5%;
    background: $color-light-grey;
  }
}

.module-section-two{
  .section-two-image{
    max-width: 75%;
    margin-top: 4rem;
  }
  .description-block{
    margin-top: 12rem;
    .description-large{
      font-size: -webkit-xxx-large;
      width: 50%;
      margin-top: 4rem;
    }
    .description-small{
      font-family: 'GTWalsheimProLight';
      width: 50%;
    }
  }
}

.module-section-three{
  .header-text{
    margin-left: 8rem;
    margin-top: 6rem;

    .description-large{
      font-size: -webkit-xxx-large;
    }
    .description-small{
      width: 20rem;
      font-family: 'GTWalsheimProLight';
    }
  }
}

.align--left{
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.display--framed{
  .frame{
    max-width: 98%;
    padding: 4%;
    background: $color-medium-grey;
  }
}

.display--mobile{
  float: left;
  margin-left: 4rem;
  margin-top: 8rem;
  margin-right: 2rem;
}

.display--mobile:last-child {
  margin-top: 18rem;
}

.gallery{
  margin-top: 9rem;
}

.casestudy-slider{
  background: #FFF;
  width: 100%;
  .rsSlide, .rsOverflow{
    background: #FFF;
  }
  .rsNav{
    display:none;
  }
  .rsBullets{
    display: none;
  }
  .img{
    width: 100%;
   height: auto;
   margin: 10px auto;
  }

}
