body{
  background-color: #000;
}

h1{
  color: #fff;
  font-size: 120px;
  width: 42%;
  margin-left: 9rem;
}

.form-link{
  font-family: 'GTWalsheimProLight';
  font-size: 50px;
  margin-left: 9rem;
  color: white;
}

.contact{
  margin-top: 20rem;
  margin-bottom: 2rem;
}

.contact-footer{
  color:#fff;
  margin-left: 9rem;
  .address{
    font-family: 'GTWalsheimProLight';
    font-size: 2.5rem;
    width: 23%;
  }
  .phone{
    font-family: 'GTWalsheimProLight';
    font-size: 2.5rem;
  }
  .email, .contact, .instagram{
    color: white;
    font-size: 2.5rem;
    font-family: 'GTWalsheimProLight';
  }
}


.clock {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #333;
    color: #fff;
}

ul {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 10em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}



/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}
