{% extends "_layout" %}

{% block content %}

  <div class="top-title-line"> --------------- </div>

  {% if entry.type == 'caseStudy'%}

    <div class="hero-module-container">

      {% for block in entry.heroModule %}

        {% switch block.type %}

          {% case 'headerText' %}

            <h1>{{ block.headerText }}</h1>

          {% case 'description' %}

            {{ block.description }}

            <p class="see-more-nav">see more ></p>

          {% case 'heroImage'%}

          {% set image = block.heroImage.first() %}
            {% if image %}
              <img src="{{ image.url }}" alt=""/>
            {% endif %}

          {% endswitch %}

        {% endfor %}

      </div>


      <div class="view-more-overlay fullscreen-overlay display-none cursor-pointer js-body-remove-class" data-body-class="view-more-open"></div>

      <div class="view-more">
        {% for block in entry.viewMoreOverlay %}

          {% switch block.type %}

            {% case 'description' %}

              <div class="description">{{ block.description }}</div>

            <p class="services"> Services </p>

            {% case 'servicesList' %}

              <ul class="services-list">
                <li>{{ block.servicesList}}</li>
              </ul>

            {% case 'clientSiteLink' %}

              <p class="client-site-link"> {{ block.clientSiteLink }}</p>

          {% endswitch %}

        {% endfor %}

    </div>

    <div class="large-asset-container">

      {% set image = entry.largeImageVideo.first() %}
        {% if image %}
          <img src="{{ image.url }}" alt=""/>
        {% endif %}

    </div>

    <div class="module-section-two">

      {% for block in entry.moduleTwo %}

        {% switch block.type %}

          {% case 'image' %}

            {% set image = block.image.first() %}
              {% if image %}
                <img src="{{ image.url }}" alt=""/>
              {% endif %}

          {% case 'descriptionLarge' %}

            <p class="description-large">{{block.descriptionLarge}}</p>

          {% case 'descriptionSmall' %}

            <p class="description-small">{{block.descriptionSmall}}</p>

        {% endswitch %}

      {% endfor %}

    </div>

    <div class="module-section-three">

      {% for block in entry.moduleThree %}

        {% switch block.type %}

          {% case 'description' %}

            <p class="description-large">{{block.description}}</p>

          {% case 'descriptionSmall' %}

            <p class="description-small">{{block.descriptionSmall}}</p>

          {% case 'image' %}

            {% set image = block.image.first() %}
              {% if image %}
                <img src="{{ image.url }}" alt=""/>
              {% endif %}

        {% endswitch %}

      {% endfor %}

    </div>

    <div class="gallery">

      <div class="royalSlider rsDefault">
        {% for block in entry.royalSlider %}
          {% if block.type == "image" %}
            {% set image = block.image.first() %}
              {% if image %}
                  <img class="rsImg" src="{{ image.url }}" alt=""/>
              {% endif %}
          {% endif %}
        {% endfor %}
      </div>

    </div>

    <div class="footer">
      {% for block in entry.footer %}
        <p class="address">{{ block.address }}</p>
        <a href="/contact" class="contact">{{ block.contact }}</a>
        <a href="mailto:info@blackandblackcreative.com" class="email">{{ block.email }}</a>
        <p class="phone">{{ block.phone }}</p>
        <a href="https://www.instagram.com/blackandblackcreative/" class="instagram">{{ block.instagram }}</a>
      {% endfor %}
    </div>

  {% endif %}

{% endblock %}
