{% extends "_layout" %}
{% block content %}

  <svg class="header-svg" height="40" width="100">
    <g fill="none" stroke="#C7C8CA">
      <path stroke-width="2" d="M5 20 l215 0" />
    </g>
  </svg>

  {% if entry.type == 'caseStudy'%}
    <div class="hero-module-container">
      <div class="header-text-container">
        {% for block in entry.heroModule %}
          {% if block.type == "headerText"%}
            <h1 class="header">{{ block.headerText }}</h1>
          {% endif %}
          {% if block.type == "description" %}
            <div class="description">{{ block.description }}</div>
          {% endif %}
        {% endfor %}
        <p class="see-more-nav">View more ></p>
      </div>
      {% for block in entry.heroModule %}
        {% if block.type == "heroImage" %}
          {% set image = block.heroImage.first() %}
            {% if image %}
              <img class="hero-image" src="{{ image.url }}" alt=""/>
            {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="view-more-overlay fullscreen-overlay display-none cursor-pointer js-body-remove-class" data-body-class="view-more-open"></div>

    <div class="view-more">
      {% for block in entry.viewMoreOverlay %}
        {% if block.type =="description" %}
          <div class="description">{{ block.description }}</div>
        {% endif %}
      {% endfor %}
      <p class="services"> Services </p>
      {% for block in entry.viewMoreOverlay %}
        {% if block.type =="servicesList" %}
          <ul class="services-list">
            <li>{{ block.servicesList}}</li>
          </ul>
        {% endif %}
      {% endfor %}
      {% for block in entry.viewMoreOverlay %}
        {% if block.type =="clientSiteLink" %}
          <p class="client-site-link"> {{ block.clientSiteLink }}</p>
        {% endif %}
      {% endfor %}
    </div>

    <div class="large-asset-container">
      {% set image = entry.largeImageVideo.first() %}
        {% if image %}
          <img class="large-image" src="{{ image.url }}" alt=""/>
        {% endif %}
    </div>

    <div class="grid">
      <div class="module-section-two">
        <div class="col small-up-one-half">
          {% for block in entry.moduleTwo %}
            {% if block.type == "image" %}
              {% set image = block.image.first() %}
                {% if image %}
                  <img class="section-two-image" src="{{ image.url }}" alt=""/>
                {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="col small-up-one-half description-block">
          {% for block in entry.moduleTwo %}
            {% if block.type == "descriptionLarge" %}
              <p class="description-large">{{block.descriptionLarge}}</p>
            {% endif %}
            {% if block.type == "descriptionSmall" %}
              <p class="description-small">{{block.descriptionSmall}}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="module-section-three">
        <div class="header-text">
          <svg height="20" width="50">
            <g fill="none" stroke="grey">
              <path stroke-width="2" d="M5 20 l215 0" />
            </g>
          </svg>
          {% for block in entry.moduleThree %}
            {% if block.type == "description" %}
              <p class="description-large">{{block.description}}</p>
            {% endif %}
            {% if block.type == "descriptionSmall" %}
              <p class="description-small">{{block.descriptionSmall}}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="grid">
          <div class="col small-up-one-half">
            {% for block in entry.moduleThree %}
              {% if (block.type == "image") and (block.alignment == "left") %}
                {% for option in block.display.options %}
                  {% if option.selected == "mobile" %}
                    <div class="align--{{ block.alignment }} display--{{option}}">
                      {% set image = block.imageUrl.first() %}
                        {% if image %}
                            <img class="frame" src="{{ image.url }}" alt=""/>
                        {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col small-up-one-half">
            {% for block in entry.moduleThree %}
              {% if (block.type == "image") and (block.alignment == "right") %}
                {% for option in block.display.options %}
                  {% if option.selected == "mobile" %}
                    <div class="align--{{block.alignment}} display--{{option}}">
                      {% set image = block.imageUrl.first() %}
                        {% if image %}
                            <img class="frame" src="{{ image.url }}" alt=""/>
                        {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="gallery">
      <div class="royalSlider rsDefault casestudy-slider">
        {% for block in entry.royalSlider %}
          {% if block.type == "image" %}
            {% set image = block.image.first() %}
              {% if image %}
                  <img class="rsImg" src="{{ image.url }}" alt=""/>
              {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  {% endif %}
{% endblock %}
