{% extends "_layout" %}
{% block content %}

  <div class="line"> --------------- </div>

  {% if entry.type == 'caseStudy'%}

    <div class="hero-module-container">
      {% for block in entry.heroModule %}
        {% switch block.type %}
          {% case 'headerText' %}
            <h1 class="header">{{ block.headerText }}</h1>
          {% case 'description' %}
            {{ block.description }}
            <p class="see-more-nav">see more ></p>
          {% case 'heroImage'%}
          {% set image = block.heroImage.first() %}
            {% if image %}
              <img src="{{ image.url }}" alt=""/>
            {% endif %}
        {% endswitch %}
      {% endfor %}
    </div>

    <div class="view-more-overlay fullscreen-overlay display-none cursor-pointer js-body-remove-class" data-body-class="view-more-open"></div>

    <div class="view-more">
      {% for block in entry.viewMoreOverlay %}
        {% switch block.type %}
          {% case 'description' %}
            <div class="description">{{ block.description }}</div>
            <p class="services"> Services </p>
          {% case 'servicesList' %}
            <ul class="services-list">
              <li>{{ block.servicesList}}</li>
            </ul>
          {% case 'clientSiteLink' %}
            <p class="client-site-link"> {{ block.clientSiteLink }}</p>
        {% endswitch %}
      {% endfor %}
    </div>

    <div class="large-asset-container">
      {% set image = entry.largeImageVideo.first() %}
        {% if image %}
          <img class="large-image" src="{{ image.url }}" alt=""/>
        {% endif %}
    </div>

    <div class="grid">
      <div class="module-section-two">
        <div class="col small-up-one-half">
          {% for block in entry.moduleTwo %}
            {% if block.type == "image" %}
              {% set image = block.image.first() %}
                {% if image %}
                  <img class="section-two-image" src="{{ image.url }}" alt=""/>
                {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="col small-up-one-half">
          {% for block in entry.moduleTwo %}
            {% if block.type == "descriptionLarge" %}
              <p class="description-large">{{block.descriptionLarge}}</p>
            {% endif %}
            {% if block.type == "descriptionSmall" %}
              <p class="description-small">{{block.descriptionSmall}}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="module-section-three">
        <div class="header-text">
          <div class="line"> --------------- </div>
          {% for block in entry.moduleThree %}
            {% if block.type == "description" %}
              <p class="description-large">{{block.description}}</p>
            {% endif %}
            {% if block.type == "descriptionSmall" %}
              <p class="description-small">{{block.descriptionSmall}}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="grid">
          <div class="col small-up-one-half">
            {% for block in entry.moduleThree %}
              {% if (block.type == "image") and (block.alignment == "left") %}
                {% for option in block.display.options %}
                  {% if option.selected == "mobile" %}
                    <div class="align--{{ block.alignment }} display--{{option}}">
                      {% set image = block.imageUrl.first() %}
                        {% if image %}
                            <img class="frame" src="{{ image.url }}" alt=""/>
                        {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col small-up-one-half">
            {% for block in entry.moduleThree %}
              {% if (block.type == "image") and (block.alignment == "right") %}
                {% for option in block.display.options %}
                  {% if option.selected == "mobile" %}
                    <div class="align--{{block.alignment}} display--{{option}}">
                      {% set image = block.imageUrl.first() %}
                        {% if image %}
                            <img class="frame" src="{{ image.url }}" alt=""/>
                        {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="gallery">
      <div class="royalSlider rsDefault casestudy-slider">
        {% for block in entry.royalSlider %}
          {% if block.type == "image" %}
            {% set image = block.image.first() %}
              {% if image %}
                  <img class="rsImg" src="{{ image.url }}" alt=""/>
              {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  {% endif %}
{% endblock %}
