{% extends "_layout" %}

{% block content %}

<h1> Interested in working with us? </h1>

<a class="form-link" href="#">Get Started</a>

<h1 class="contact"> Contact </h1>

<footer class="contact-footer">
  <p class="address">{{ contact.address }}</p>
  <p class="phone">{{ contact.phone }}</p>
  <p><a href="mailto:info@blackandblackcreative.com" class="email">{{ contact.email }}</a></p>
  <p><a href="/contact" class="contact">Join Us</a></p>
  <p><a href="https://www.instagram.com/blackandblackcreative/" class="instagram">Instagram</a></p>
</footer>

<div class="clock">
  <ul>
    <li id="hours"></li>
    <li id="point">:</li>
    <li id="min"></li>
    <li id="point">:</li>
    <li id="sec"></li>
  </ul>
</div>

{% endblock %}
