{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

  {% set asset = entry.heroImage.first() %}
  {% if asset %}
    <div class="splash-container" style="background-image:url( {{ asset.url }} );"></div>
  {% endif %}

  <div class="see-more">
    <p>See More</p>
  </div>

  <div class="grid">

    <div class="client-section-one-container">

      <div class="col small-up-one-third">

        <ul class="client-links-wrapper">
          {% for block in entry.clientSection1 %}
            {% if block.type == "clientLinks" %}
              <li class="client-link">{{ block.clientLink }}</li>
            {% endif %}
          {% endfor %}
        </ul>

      </div>

      {% for block in entry.clientSection1 %}
        {% if block.type == "clientImageSection" %}

            <div class="col small-up-one-third client-section-item">

              {% set image = block.image.first() %}
              {% if image %}
                <img class="client-image" src="{{ image.url }}" alt=""/>
              {% endif %}

              <div class="caption-wrapper">
                <p class="client-caption">{{ block.caption }}</p>
                <p class="client-subcaption">{{ block.subcaption }}</p>
              </div>

            </div>

          {% endif %}
      {% endfor %}

    </div>

    <div class="client-section-two-container">

      <div class="col client-section-left-large">

        {% for block in entry.clientSection2 %}
          {% if block.type == "clientImageLarge" %}

            {% set image = block.image.first() %}
              {% if image %}
                <img class="client-section-image-large" src="{{ image.url }}" alt=""/>
              {% endif %}

              <div class="caption-wrapper">
                <p class="client-caption">{{ block.caption }}</p>
                <p class="client-subcaption">{{ block.subcaption }}</p>
              </div>

          {% endif %}
        {% endfor %}

      </div>

      <div class="col client-section-right-group">

        <ul class="client-links-wrapper client-links-wrapper-section-two">
          {% for block in entry.clientSection2 %}
            {% if block.type == "clientLinks" %}
                <li class="client-link">{{ block.clientLink }}</li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="client-image-small-right">
          {% for block in entry.clientSection2 %}
            {% if block.type == "clientImageSmall" %}

              {% set image = block.image.first() %}
                {% if image %}
                  <img class="image-small" src="{{ image.url }}" alt=""/>
                {% endif %}

                <div class="caption-wrapper">
                  <p class="client-caption">{{ block.caption }}</p>
                  <p class="client-subcaption">{{ block.subcaption }}</p>
                </div>

              {% endif %}
            {% endfor %}
          </div>

      </div>

    </div>

    <div class="client-section-three-container">

      {% for block in entry.clientSection3 %}
        {% if block.type == "clientImageSection" %}

          <div class="col small-up-one-third client-section-item">

              {% set image = block.image.first() %}
              {% if image %}
                <img class="client-image" src="{{ image.url }}" alt=""/>
              {% endif %}

              <div class="caption-wrapper">
                <p class="client-caption">{{ block.caption }}</p>
                <p class="client-subcaption">{{ block.subcaption }}</p>
              </div>

            </div>

          {% endif %}
      {% endfor %}

      <div class="col small-up-one-third client-section-item">

        <ul class="client-links-wrapper client-links-wrapper-section-three">
          {% for block in entry.clientSection3 %}
          {% if block.type == "clientLinks" %}
          <li class="client-link">{{ block.clientLink }}</li>
          {% endif %}
          {% endfor %}
        </ul>

      </div>

    </div>

</div>

<div class="footer">
  {% for block in entry.footer %}
    <p class="address">{{ block.address }}</p>
    <a href="/contact" class="contact">{{ block.contact }}</a>
    <a href="mailto:info@blackandblackcreative.com" class="email">{{ block.email }}</a>
    <p class="phone">{{ block.phone }}</p>
    <a href="https://www.instagram.com/blackandblackcreative/" class="instagram">{{ block.instagram }}</a>
  {% endfor %}
</div>

{% endblock %}
